<div class="row">

	<div class="col-xl-3 col-md-3 mb-3">
		<div class="card border-left-primary shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Pointages</div>
						<div class="h4 mb-0 text-gray-800">{{ pointage }}</div>
					</div>
					<div class="col-auto">
						<a href="#" id="reset"><i class="fas fa-search fa-2x text-gray-300"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-md-3 mb-3">
		<div class="card border-left-info shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Retards</div>
						<div class="h4 mb-0 text-gray-800">{{ retard }}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-search fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-md-3 mb-3">
		<div class="card border-left-warning shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Départ en avance</div>
						<div class="h4 mb-0 text-gray-800">{{ avance }}</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-search fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-md-3 mb-3">
		<div class="card border-left-danger shadow h-100 py-2">
			<div class="card-body">
				<div class="row no-gutters align-items-center">
					<div class="col mr-2">
						<div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Absences</div>
						<div class="h4 mb-0 text-gray-800">0</div>
					</div>
					<div class="col-auto">
						<i class="fas fa-search fa-2x text-gray-300"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
