{% extends 'base.html.twig' %}
{% block body %}
<h2>Rapport journalier des pointages</h2>
{% include 'tableauPointage.html.twig' %}
<script src="{{ asset('js/initAdmin.js') }}"></script>
{% endblock %}
